  <h1>Books</h1>
  <table>
    <thead>
      <tr>
       <th>Title</th>
       <th>Body</th>
      </tr>
    </thead>
    
     
    <tbody>
      <!--繰り返し処理each-->
      <tr> 
      <td>
        タイトル
      </td>
      <td>
        ボディー
      </td>
      <td>
        <%="show"%>
      </td>
      <td>
        <%= "edit"%>
      </td>
      <td>
        <%= "destroy"%>
      </td>
      </tr>
     <!--繰り返し処理eachのend-->
    </tbody>
   
  </table>
  
  
  

  <h2>New book</h2>
  <!--新規投稿機能-->
  <%= form_with model:@???,local:true do |f| %>
  
  <p>title</p>
  <%= f.tex.field %>
  
  <p>body</p>
  <%= f.text_area :body %>
  <%= f.submit'Create Book' %>
  
  <% end %>
